.bundle
.env
.env.*
docker-compose.*
docker/Dockerfile
docker/dockerfiles
log
storage
public/system
tmp
.codeclimate.yml
public/packs
node_modules
vendor/bundle
downloaded-docs
kits-support-copilot
.DS_Store
*.swp
*~
